<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.task91p">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />


    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task71P"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhpUToKJS5Z3EUHELRJvsQi2Ddi0Vlgyg" />

        <activity android:name="com.example.task91p.ShowOnMapsActivity"
            android:exported="false"/>

        <activity android:name="com.example.task91p.MapsActivity"
            android:exported="false"/>

        <activity
            android:name="com.example.task91p.Remove"
            android:exported="false" />

        <activity
            android:name="com.example.task91p.CreateNew"
            android:exported="false" />

        <activity
            android:name="com.example.task91p.Show"
            android:exported="false" />

        <activity
            android:name="com.example.task91p.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
